springegg/src/main/webapp/WEB-INF/wsdl/spservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/spservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="spservice" targetNamespace="http://www.example.org/spservice/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/spservice/">
      <xsd:element name="testMe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="testMeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="testMeRequest">
    <wsdl:part element="tns:testMe" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="testMeResponse">
    <wsdl:part element="tns:testMeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="spservice">
    <wsdl:operation name="testMe">
      <wsdl:input message="tns:testMeRequest"/>
      <wsdl:output message="tns:testMeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="spserviceSOAP" type="tns:spservice">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="testMe">
      <soap:operation soapAction="http://www.example.org/spservice/testMe"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="spservice">
    <wsdl:port binding="tns:spserviceSOAP" name="spserviceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
